# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environments
.venv/
env/
venv/

# Editor-specific
.vscode/
.idea/

# Environment files
**/.env

# OS files
.DS_Store
Thumbs.db

# Docker
*.log

# Python egg
*.egg
*.egg-info/
dist/
build/

# Compiled binary
*.out
